h1{font-size: 70px; color: BLUE; text-align: center; font-style: italic;}

img{
  width: 500px;
  margin-left: 37%
}
h3{
  font-size: 80px
}
body{
  background-color: #efece2

}
#cr7 {
  width: 300px;
  position: relative;
  left: 70px;
  margin-left:
}

#infancia{

margin-left: 0%
}
#passos{
  width: 500px;
  margin-left: 37%
}


#titulos{
  margin-left: 0%
}

#bolasdeouro{
  width: 300px;
  margin-left: 40%
}

h3{font-size: 50px; color: BLACK; text-align: center; italic}
